<template>
  <div class="login">
  	<div class="logoBg"></div>
  	<div class="loginCen">
  		<div class="loginTit">
  			<img src="../assets/logo.png" />
  			<h3>APP自更新平台</h3>
  		</div>
	    <Form ref="formCustom" :model="formCustom" :rules="ruleCustom">
        
        <FormItem label="手机号" prop="username" :label-width="100">
            <Input type="text" v-model="formCustom.username" number placeholder="请输入手机号"></Input>
        </FormItem>
        <FormItem label="密码" prop="password" :label-width="100">
            <Input type="password" v-model="formCustom.password" placeholder="请输入密码"></Input>
        </FormItem>
        <FormItem style="margin-bottom: 57px;">
	        		<p class="forget">忘记密码？</p>
	        </FormItem>
        <FormItem>
            <Button type="primary">注册</Button>
            <Button type="primary" @click="handleSubmit('formCustom')" style="margin-left: 8px">
            	<span v-if="!loading">登录</span>
            	<span v-else>登录中...</span>
            </Button>
        </FormItem>
    </Form>
  	</div>
  </div>
</template>

<script>
    export default {
    	name:'login',
        data () {
            const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    callback();
                }
            };
            const validateAge = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('请输入手机号'));
                }
                // 模拟异步验证效果
                setTimeout(() => {
                    let reg=11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
								        if(value==''){
								           	console.log("请输入手机号码");
								        }else if(!reg.test(value)){
								            console.log("手机格式不正确");
								            callback(new Error('请输入正确的手机号'));
								        }else{
								        	 	console.log("正确");
								        	 	callback()
								        }
								        
                }, 1000);
            };
            
            return {
                formCustom: {
                    password: '123456',
                    username: '15810309261'
                },
                ruleCustom: {
                    password: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    username: [
                        { validator: validateAge, trigger: 'blur' }
                    ]
                },
                loading:false
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                    		this.loading = true;
                    		this.$http.get('http://localhost:9090/users?username='+this.formCustom.username+'&password='+this.formCustom.password).then((res) => { 
													//这里在isLogin方法中先判断一下后台返回的是否为空值，如果不是然后提交后台返回的值。
													//注意这里是个难点，Vuex与Vue-Resource结合使用。 
													console.log(res)
													if(res.body != null && res.body.length > 0){
														this.formCustom.username='';
														this.formCustom.password="";
														this.$store.commit('isLogin',res.body[0])
														this.$router.push({ name: 'thailife' }) 
													}
//													if(response.body != null & response.body.length > 0){ 
//														this.$store.commit('isLogin',response.body[0]);
//														this.name=''
//														this.pwd= ''
//														this.$router.push({ path: 'main' }) 
//													}else{
//														alert('请输入正确的用户名和密码！！！');
//														this.name=''
//														this.pwd= ''
//													}
												}).then((error)=> this.error = error)
                    } else {
                        this.$Messusername.error('Fail!');
                    }
                })
            }
        }
    }
</script>
<style>
	.logoBg{
		background: url(../assets/logoBg.png) no-repeat;
		background-size: cover;
		width: 100%;
		height: 640px;
		position: fixed;
		left: 0;
		top: 0;
	}
	.loginCen{
		box-sizing: border-box;
		padding: 0 50px;
		width: 500px;
		height: 500px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -250px 0 0 -250px;
		background: #fff;
	}
	.loginTit{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 80px 0 40px 0;
	}
	.loginTit h3{
		font-size: 24px;
		margin-left: 15px;
	}
	.loginTxt{
		display: inline-block;
		width: 96px;
		padding-right: 10px;
		box-sizing: border-box;
		text-align: right;
	}
	.loginCen .ivu-input-wrapper{
		width: 300px;
		box-sizing: border-box;
	}
	.loginCen .ivu-input{
		height: 40px;
		border-radius: 0;
		border: 1px solid #DDDDDD;
	}
	.loginCen .ivu-btn-primary{
		width: 190px;
		height: 50px;
		text-align: center;
		color: #fff;
		background: #3998E9;
		font-size: 16px;
		border-radius: 0;
	}
	.forget{
		text-align: right;
		color: #3998E9;
	}
	/*.loginCen .ivu-form-item-error-tip{
		left: 100px;
	}*/
</style>
