<template>
  <div class="main">
  	<div class="layout">
        <Layout>
            <Header :style="{padding: 0}" class="layout-header-bar">
                <Icon @click.native="collapsedSider" :class="rotateIcon" :style="{margin: '16px 20px 0',float:'left'}" type="navicon-round" size="24"></Icon>
                <span class="menuTxt">应用列表</span>
                <h2 class="menuTit">APP自更新平台</h2>
                <div class="menuTopRight">
                  <div class="menuPerson">
                    <Icon type="ios-person-outline"></Icon>
                    <span>{{userName}}</span>
                  </div>
                  <div class="menuPerson" @click="loginOut">
                    <Icon type="log-out"></Icon>
                    <span>退出</span>
                  </div>
                </div>
            </Header>
            
            <Layout>
                <Sider ref="side1" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed">
                  <Menu @on-select="routeTo" :active-name="activeName" theme="dark" width="auto" :class="menuitemClasses">
                      <MenuItem name="thailife">
                          <Icon type="ios-navigate"></Icon>
                          <span>泰生活</span>
                      </MenuItem>
                      <MenuItem name="thaimedical">
                          <Icon type="ios-ionic-outline"></Icon>
                          <span>泰医养</span>
                      </MenuItem>
                  </Menu>
                </Sider>
                <Content :style="{margin: '20px', background: '#fff', minHeight: '260px'}">
                    <router-view></router-view>
                </Content>
            </Layout>
        </Layout>
    </div>
  </div>
</template>

<script>
export default {
	name:'main',
  data () {
      return {
          isCollapsed: false,
          activeName:''
      }
  },
  computed: {
  		userName(){
  			return this.$store.state.user.username
  		},
      rotateIcon () {
          return [
              'menu-icon',
              this.isCollapsed ? 'rotate-icon' : ''
          ];
      },
      menuitemClasses () {
          return [
              'menu-item',
              this.isCollapsed ? 'collapsed-menu' : ''
          ]
      }
  },
  mounted(){
    this.activeName = this.$route.name;
  },
  methods: {
	  collapsedSider () {
	    this.$refs.side1.toggleCollapse();
	  },
	  routeTo(e){
	  	this.$router.push(e);
	  	this.activeName = e;
	  },
	  loginOut(){
	  		sessionStorage['userInfoStorage'] = false;
	  		location.reload()
	  }
  }
}
</script>
<style lang="less">
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-header-bar{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-logo-left{
    width: 90%;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}
.menu-icon{
    transition: all .3s;
}
.rotate-icon{
    transform: rotate(-90deg);
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
    color: #C1DAF0;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}
.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}

// top
.ivu-layout-header{
    height: 60px!important;
    line-height: 60px!important;
    background: #3998E9!important;
    position: relative;
}
.menu-icon{
    color: #fff;
}
.menuTxt{
    font-size: 16px;
    float: left;
    color: #fff;
}
.menuTit{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    text-align: center;
    height: 60px;
    width: 50%;
    margin-left: -25%;
}
.menuTopRight{
  float: right;
  margin-right: 20px;
}
.menuPerson{
  float: left;
}
.menuPerson .ivu-icon-ios-person-outline{
  color: #fff;
  float: left;
  font-size: 26px;
  padding: 15px 5px 0 0;
}
.menuPerson span{
  color: #fff;
  float: left;
}
.menuPerson .ivu-icon-log-out{
  margin-left: 30px;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 21px 5px 0 0;
}
.ivu-layout{
  background: #F4F8FA;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu){
  border-right: 0;
  color: rgba(255,255,255,.7);
}
.ivu-menu-item .ivu-icon-arrow-left-b{
  float: right;
  margin-right: 0;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
  padding-right: 0;
}
.ivu-layout-sider{
  background: #3B4966;
}
.ivu-menu-dark{
  background: none;
}
</style>
