<template>
  <div id="main" class="app-main">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
<style>
body,html{
	height: 100%!important;
}
#main,.main,.layout{
	height: 100%;
}
.ivu-layout{
	height: 100%;
}
</style>
